<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/ed818159-8e28-4a6c-b9be-caa01d2959d8/resourceGroups/collage2023/providers/Microsoft.Web/sites/WeatherService20230829043735</ResourceId>
    <ResourceGroup>collage2023</ResourceGroup>
    <ApiResourceId>/subscriptions/ed818159-8e28-4a6c-b9be-caa01d2959d8/resourceGroups/collage2023/providers/Microsoft.ApiManagement/service/WeatherServiceapi/apis/WeatherService</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://weatherservice20230829043735.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>d8de9bd5-6ba4-4b6a-b771-b1cf6b9df009</ProjectGuid>
    <MSDeployServiceURL>weatherservice20230829043735.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>WeatherService20230829043735</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$WeatherService20230829043735</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>